<div class="coming-soon parallax">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="full-height coming-soon-img"> <img src="~/lib/Template/assets/images/soon.jpg" class="image-fit" alt="img"> </div>
            </div>
            <div class="col-lg-8">
                <div class="full-height coming-soon-text">
                    <h1 class="text-custom-black">ÇOK YAKINDAAA</h1>
                    <div class="counter">
                        <div class="counter-box">
                            <div class="inner-box"><span class="text-custom-white" id="cvdays"></span> </div>
                            <p class="text-custom-white">Gün</p>
                        </div>
                        <div class="counter-box">
                            <div class="inner-box"><span class="text-custom-white" id="cvhours"></span> </div>
                            <p class="text-custom-white">Saat</p>
                        </div>
                        <div class="counter-box">
                            <div class="inner-box"> <span class="text-custom-white" id="cvminutes"></span> </div>
                            <p class="text-custom-white">Dakika</p>
                        </div>
                        <div class="counter-box">
                            <div class="inner-box"> <span class="text-custom-white" id="cvseconds"></span> </div>
                            <p class="text-custom-white">Saniye</p>
                        </div>
                    </div>
                    <div class="coming-soon-contact">
                        <ul class="custom-flex">
                            <li>
                                <label class="text-light-dark fw-600 d-block">Telefon:</label>
                                <a href="tel:" class="text-custom-black fw-600">(+90) 542 154 54 94</a>
                            </li>
                            <li>
                                <label class="text-light-dark fw-600 d-block">Adres:</label>
                                <a href="#" class="text-custom-black fw-600">Yenigün, Adapazarı / Sakarya</a>
                            </li>
                            <li>
                                <label class="text-light-dark fw-600 d-block">E-Posta:</label>
                                <a href="mailto:" class="text-custom-black fw-600">info@ilyarentacar.com.tr</a>
                            </li>
                        </ul>
                    </div>
                    <div class="newsletter-form">
                        <div class="form-group">
                            <div class="input-group group-form">
                                <input type="text" name="#" class="form-control form-control-custom" placeholder="Mesajınız...">
                                <button class="input-group-append"> Gönder </button>
                            </div>
                        </div>
                    </div>
                    <div class="social-media">
                        <ul class="custom-flex">
                            <li> <a href="#" class="text-light-dark"> <i class="fab fa-facebook-f"></i> </a> </li>
                            <li> <a href="#" class="text-light-dark"> <i class="fab fa-twitter"></i> </a> </li>
                            <li> <a href="#" class="text-light-dark"> <i class="fab fa-instagram"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>