<!-- Start Subheader -->
<div class="subheader normal-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-custom-white">Bize Nasıl Ulaşırsınız</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Subheader -->

<div class="section-padding contact-form-map">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-header style-left">
                    <div class="section-heading">
                        <h3 class="text-custom-black">Bizimle İletişime Geçin</h3>
                        <div class="section-description">
                            <p class="text-light-dark">Talep-Öneri ve şikayetleriniz için 7/24 açığız. Aklınıza takılan her konu için bize mesaj gönderin. Mesajınız en kısa sürede yanıtlanacaktır.</p>
                        </div>
                    </div>
                </div>
                <form class="mb-md-80">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="#" class="form-control form-control-custom" placeholder="Ad Soyad" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="#" class="form-control form-control-custom" placeholder="E-posta Adresi" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="#" class="form-control form-control-custom" placeholder="Konu" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="#" class="form-control form-control-custom" placeholder="Telefon Numarası" required="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="message" rows="5" class="form-control form-control-custom" placeholder="Mesajınız..." required=""></textarea>
                            </div>
                            <button type="submit" class="btn-first btn-submit">Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5">
                <div class="contact-map full-height">
                    <iframe class="full-height" src="https://maps.google.com/maps?q=Yenigün,%20İLYA%20RENT%20A%20CAR%20SAKARYA&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Contact top -->
<section class="section-padding bg-light-white contact-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-box mb-md-40">
                    <i class="flaticon-placeholder"></i>
                    <h6 class="text-theme fw-600 custom-font-family">
                        Yenigün Mahallesi palmiye caddesi, 1556. Sk. No:28,<br>
                        54100 Adapazarı/Sakarya/Türkiye
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-box mb-md-40">
                    <i class="flaticon-telephone-1"></i>
                    <h6 class="text-theme fw-600 custom-font-family">
                        <a href="#" class="text-theme">0 (542) 154 54 94</a><br>
                        7 gün / 24 saat
                    </h6>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-box">
                    <i class="flaticon-envelope"></i>
                    <h6 class="text-theme fw-600 custom-font-family">
                        <a href="#" class="text-theme">info@ilyarentacar.com.tr</a><br>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact top -->