@model UserDTO

@{
    ViewData["Title"] = "İlya Rent A Car Yönetim Paneli";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<script>
    $(() => {

        $(document).ready(() => {
            if (typeof Noty == 'undefined') {
                console.warn('Warning - noty.min.js is not loaded.');
                return;
            }

            // Override Noty defaults
            Noty.overrideDefaults({
                theme: 'limitless',
                layout: 'topRight',
                type: 'alert',
                timeout: 2500
            });

            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                var errorMessage = ViewBag.ErrorMessage;

                <text>
            new Noty({
                text: '@errorMessage',
                type: 'error'
            }).show();
                </text>
            }
            else if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
            {
                var successMessage = ViewBag.SuccessMessage;

                <text>
            new Noty({
                text: '@successMessage',
                type: 'success'
            }).show();
                </text>
            }

            $('.form-validate').validate({
                ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
                errorClass: 'validation-invalid-label',
                successClass: 'validation-valid-label',
                validClass: 'validation-valid-label',
                highlight: function (element, errorClass) {
                    $(element).removeClass(errorClass);
                },
                unhighlight: function (element, errorClass) {
                    $(element).removeClass(errorClass);
                },
                rules: {
                    Name: {
                        required: true,
                        maxlength: 25
                    },
                    Surname: {
                        required: true,
                        maxlength: 40
                    },
                    EmailAddress: {
                        required: true,
                        maxlength: 35,
                        email: true
                    }
                },
                messages: {
                    Name: {
                        required: "Bu alan boş bırakılamaz.",
                        maxlength: "En fazla 25 karakter girişi yapılabilir."
                    },
                    Surname: {
                        required: "Bu alan boş bırakılamaz.",
                        maxlength: "En fazla 40 karakter girişi yapılabilir."
                    },
                    EmailAddress: {
                        required: "Bu alan boş bırakılamaz.",
                        maxlength: "En fazla 35 karakter girişi yapılabilir.",
                        email: "Gerçerli bir e-posta adresi giriniz."
                    }
                }
            });
        });

    });
</script>

<!-- Login card -->
@using (Html.BeginForm("PasswordRecover", "Login", FormMethod.Post, new { @class = "login-form form-validate" }))
{
    <div class="card mb-0">
        <div class="card-body">
            <div class="text-center mb-3">
                <i class="icon-question7 icon-2x text-secondary border-secondary border-3 rounded-pill p-3 mb-3 mt-1"></i>
                <h5 class="mb-0">Şifremi Unuttum</h5>
                <span class="d-block text-muted">Kimlik bilgileriniz</span>
            </div>

            <div class="form-group form-group-feedback form-group-feedback-left">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", name = "Name", placeholder = "Adı", required = "required" })
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
            </div>

            <div class="form-group form-group-feedback form-group-feedback-left">
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", name = "Surname", placeholder = "Soyadı", required = "required" })
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
            </div>

            <div class="form-group form-group-feedback form-group-feedback-left">
                @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", name = "EmailAddress", placeholder = "E-Posta Adresi", required = "required" })
                <div class="form-control-feedback">
                    <i class="icon-mail5 text-muted"></i>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">E-Posta Gönder</button>
            </div>
            <div class="form-group">
                <a href="@Url.Action("Index")" class="btn btn-light btn-block">Oturum Aç</a>
            </div>
        </div>
    </div>
}
<!-- /login card -->