/*.bg-red {
    background-color: #ff0000 !important;
}

    .bg-red .menu-item > a {
        color: #ffffff !important;
    }*/

.recommended-car-image-fit {
    object-fit: scale-down !important;
}
