<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-custom-white">© Rumble - 2020 | All Right Reserved. <a href="https://www.codezion.com/" class="text-custom-white">Designed By codezion</a></p>
            </div>
        </div>
    </div>
</div>