<div class="banner-tabs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tabs">
                    <div class="tab-content">
                        <div class="tab-pane active" id="cars">
                            <div class="tab-inner">
                                <form>
                                    <div class="row">
                                        <div class="offset-2 col-lg-3 col-md-6">
                                            <div class="form-group">
                                                <label class="fs-14 text-custom-white fw-600">Teslim Alma Ofisi</label>
                                                <label class="form-control form-control-custom" style="line-height:38px;">Sakarya, Adapazarı - Merkez Ofis</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="form-group">
                                                <label class="fs-14 text-custom-white fw-600">Alış Tarihi</label>
                                                <div class="input-group group-form">
                                                    <input type="text" name="#" class="form-control form-control-custom datepickr" placeholder="05.05.2022" readonly>
                                                    <span class="input-group-append"> <i class="far fa-calendar"></i> </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-6">
                                            <div class="form-group">
                                                <label class="fs-14 text-custom-white fw-600">Alış Saati</label>
                                                <div class="group-form">
                                                    <select class="custom-select form-control form-control-custom">
                                                        @for (int index = 0; index < 24; index++)
                                                        {
                                                            <option>@(index.ToString().Length == 1 ? "0"+index : index):00</option>
                                                            <option>@(index.ToString().Length == 1 ? "0"+index : index):30</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="offset-2 col-lg-3 col-md-6">
                                            <div class="form-group">
                                                <label class="fs-14 text-custom-white fw-600">İade Etme Ofisi</label>
                                                <label class="form-control form-control-custom" style="line-height:38px;">Sakarya, Adapazarı - Merkez Ofis</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="form-group">
                                                <label class="fs-14 text-custom-white fw-600">İade Tarihi</label>
                                                <div class="input-group group-form">
                                                    <input type="text" name="#" class="form-control form-control-custom datepickr" placeholder="12.05.2022" readonly>
                                                    <span class="input-group-append"> <i class="far fa-calendar"></i> </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-6">
                                            <div class="form-group">
                                                <label class="fs-14 text-custom-white fw-600">İade Saati</label>
                                                <div class="group-form">
                                                    <select class="custom-select form-control form-control-custom">
                                                        @for (int index = 0; index < 24; index++)
                                                        {
                                                            <option>@(index.ToString().Length == 1 ? "0"+index : index):00</option>
                                                            <option>@(index.ToString().Length == 1 ? "0"+index : index):30</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-right">
                                        <div class="offset-2 col-lg-8 col-md-6">
                                            <div class="form-group">
                                                <button class="btn-first btn-submit full-width btn-height">2 Gün Kirala</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>