<div class="slider p-relative">
    <div class="main-banner arrow-layout-1 ">
        <div class="slide-item">
            <img src="~/lib/Template/assets/images/renault-clio-home-bg.jpg" class="image-fit" alt="Slider">
            <div class="transform-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="slider-content">
                                <h3 class="text-custom-white">En ayrıcalıklı <span class="text-custom-blue">Araç</span> kiralama hizmeti, farklı araç seçenekleriyle kısa ve uzun dönem araç kiralama.</h3>
                                <ul class="custom">
                                    <li class="text-custom-white"> <i class="fas fa-dollar-sign"></i> En İyi Fiyat Garantisi</li>
                                    <li class="text-custom-white"> <i class="fas fa-car"></i> Yeni Nesil Araç</li>
                                    <li class="text-custom-white"> <i class="fas fa-laptop"></i> Kolay Rezervasyon</li>
                                    <li class="text-custom-white"> <i class="fas fa-headphones-alt"></i> 7/24 Müşteri Desteği</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <img src="~/lib/Template/assets/images/volkswagen-polo-home-bg.jpg" class="image-fit" alt="Slider">
            <div class="transform-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="slider-content">
                                <h3 class="text-custom-white"><span class="text-custom-blue">Uzun Dönem</span> kiralayın, fırsatlardan yararlanın, şimdi rezervasyonunuzu yaptırın.</h3>
                                <ul class="custom">
                                    <li class="text-custom-white"> <i class="fas fa-dollar-sign"></i> Uzun Dönem En İyi Fiyat Garantisi </li>
                                    <li class="text-custom-white"> <i class="fas fa-car"></i> Farklı Araç Seçenekleri </li>
                                    <li class="text-custom-white"> <i class="fas fa-laptop"></i> Uzun Dönem Rezervasyon </li>
                                    <li class="text-custom-white"> <i class="fas fa-headphones-alt"></i> 7/24 Müşteri Desteği </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <img src="~/lib/Template/assets/images/fiat-egea-home-bg.jpg" class="image-fit" alt="Slider">
            <div class="transform-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="slider-content">
                                <h3 class="text-custom-white"><span class="text-custom-blue">Araç</span> filomuza gözatın ve şimdi rezervasyonunuzu yaptırın.</h3>
                                <p class="text-custom-white">
                                    Araç müsaitlik durumu döneme, yoğunluğa ve kiralama şartlarına göre değişiklik gösterebilir.
                                    Şimdi rezervasyonunuzu yaptırın, size en kısa sürede ulaşacağız.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>