<section class="section-padding why-choose-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="why-choose-box">
                    <div class="section-header text-center ">
                        <div class="section-heading">
                            <h3 class="text-custom-black">Neden Bizi <span class="text-custom-blue">Tercih Etmelisiniz</span></h3>
                            <div class="section-description">
                                <p class="text-light-dark">Uzman kadrosu ve geniş araç seçenekleri ile tecrübemizi kalitemize yansıtıyoruz. En vazgeçilmezimiz kaliteli hizmet anlayışımızdır.</p>
                            </div>
                        </div>
                    </div>
                    <div class="why-choose-wrapper">
                        <div class="why-choose-img p-relative">
                            <div class="row clearfix">
                                <div class="col-6">
                                    <div class="choose-item animate-img">
                                        <img src="~/lib/Template/assets/images/services.png" alt="img" class="full-width">
                                        <div class="text-wrapper">
                                            <h4 class="text-custom-white">Müşteri Memnuniyeti</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="choose-item animate-img">
                                        <img src="~/lib/Template/assets/images/support.png" alt="img" class="full-width">
                                        <div class="text-wrapper">
                                            <h4 class="text-custom-white">7/24 Destek</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="choose-item animate-img">
                                        <img src="~/lib/Template/assets/images/best-price.jpg" alt="img" class="full-width">
                                        <div class="text-wrapper">
                                            <h4 class="text-custom-white">En İyi Fiyat Garantisi</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="choose-item animate-img">
                                        <img src="~/lib/Template/assets/images/easy.jpg" alt="img" class="full-width">
                                        <div class="text-wrapper">
                                            <h4 class="text-custom-white">Kolay Rezervasyon</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>