@media only screen and (max-width: 767.98px) {
    .dataTables_filter {
        float: left !important;
    }

    .dataTables_length {
        float: right !important;
    }

    .btn-add-new {
        width: 100% !important;
    }
}
