<footer class="section-padding footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-box mb-md-40">
                    <h4 class="text-custom-white fw-600">Hakkımızda</h4>
                    <p class="text-custom-white">Profesyonel araç kiralama hizmeti veren İlya Rent A Car, siz değerli müşterilerimizin ihtiyaç duyduğu hizmetleri hızlı ve kaliteli hizmet anlayışıyla uzun yıllardır sürdürmekte ve her geçen gün gelişen araç filosuyla Sakarya'da hizmet vermektedir.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-box mb-md-40">
                    <h4 class="text-custom-white fw-600">İletişim</h4>
                    <ul class="m-0 p-0 main">
                        <li>Telefon, 0 542 154 54 94</li>
                        <li>Adresimiz, Yenigün, palmiye caddesi, 1556. Sk. No:28, 54100 Adapazarı/Sakarya</li>
                        <li>Çalışma saatlerimiz, 7 gün / 24 saat</li>
                    </ul>
                    <ul class="custom-flex socials">
                        <li><a href="@Url.Action("Index","Home")" class="text-custom-white fs-14"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="@Url.Action("Index","Home")" class="text-custom-white fs-14"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="@Url.Action("Index","Home")" class="text-custom-white fs-14"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="@Url.Action("Index","Home")" class="text-custom-white fs-14"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-box mb-sm-40">
                    <h4 class="text-custom-white fw-600">Haberdar olun</h4>
                    <div class="newsletter">
                        <p class="text-custom-white">Yayınladığımız bültenlere abone olun, en yeni kampanyalardan önce siz haberdar olun.</p>
                        <form id="frmSubscribe">
                            <div class="form-group">
                                <input type="email" name="EmailAddress" id="EmailAddress" class="form-control form-control-custom" placeholder="E-posta Adresiniz" required>
                            </div>
                            <button type="button" class="btn-first btn-submits btnSubscribe">Abone ol</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    var subscribeButton;

    var subscribeForm;

    var emailAddressText;

    $(function () {

        $(document).ready(function () {
            init();
        })

        function init() {
            subscribeForm = $('#frmSubscribe');

            subscribeButton = $('.btnSubscribe');

            emailAddressText = $('#EmailAddress');

            $(subscribeButton).on('click', subscribeButton_onClick);

            setValidation();
        }

        function subscribeButton_onClick() {
            if ($(subscribeForm).valid()) {

                alert('Talebiniz alınmıştır. Abone olduğunuz için teşekkür ederiz.');

                $(emailAddressText).val('');

            }
        }

        function setValidation() {
            $(subscribeForm).validate({
                ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
                errorClass: 'd-none',
                successClass: 'd-none',
                validClass: 'd-none',
                highlight: function (element, errorClass) {
                    $(element).removeClass(errorClass);
                },
                unhighlight: function (element, errorClass) {
                    $(element).removeClass(errorClass);
                },
                rules: {
                    EmailAddress: {
                        required: true
                    }
                },
                messages: {
                    EmailAddress: {
                        required: "Bu alan boş bırakılamaz."
                    }
                }
            })
        }

    });
</script>