<header class="header">
    <div class="navigation-wrapper bg-red">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav>
                        <div class="main-navigation">
                            <div class="main-menu">
                                <ul class="custom-flex">
                                    <li class="menu-item text-center w-25 ml-0 mr-0 active"><a href="index.html">Tüm Kiralık Araçlar</a></li>
                                    <li class="menu-item text-center w-25 ml-0 mr-0"><a href="contact.html">Ekonomik Araçlar</a></li>
                                    <li class="menu-item text-center w-25 ml-0 mr-0"><a href="contact.html">Konfor Araçlar</a></li>
                                    <li class="menu-item text-center w-25 ml-0 mr-0"><a href="contact.html">Lüx Araçlar</a></li>
                                </ul>
                            </div>
                            <div class="hamburger-menu">
                                <div class="menu-btn"> <span></span> <span></span> <span></span> </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>